In [1]:
x=6;
print(x)

6

In [8]:
my_fav_num = input("Enter your favourite number: ")
print("Your favourite number is: ", my_fav_num)

Your favourite number is: 4

In [4]:
a="infy"
b=20.127
c=10
print(a,b,c)
print(a,b,c,sep="/")
print(a,b,c,end=" ")
print(a,b,c)
print("b=%0.2f" %b)
print("c=%8d" %c)
print("c=%-8d" %c)

infy 20.127 10
infy/20.127/10
infy 20.127 10 infy 20.127 10
b=20.13
c=      10
c=10

In [1]:
print('Asalamu alikum')

Asalamu alikum

In [2]:
len('islam ')

6

In [9]:
type('r')

str

In [6]:
type(4)

int

In [7]:
type(2.3)

float

In [10]:
#Generates a sequence of numbers, often used in loops.
for i in range(7):
    print(i)

0
1
2
3
4
5
6

In [13]:
#input()
#Reads input from the user.
name=input('enter your name : ')
print(name)

123

In [16]:
# str(), int(), float()

# # Convert values to string, integer, and float respectively.
str(45)
int(2.3)
float(4)

4.0

In [21]:
# list(), tuple(), set(), dict()

# Create list, tuple, set, and dictionary objects.
print(list('abc'))
print(tuple([1,2,4,5]))
print(set([1,3,5,7]))

['a', 'b', 'c']
(1, 2, 4, 5)
{1, 3, 5, 7}

In [22]:
results = [list('abc'), tuple([1, 2, 4, 5]), set([1, 3, 5, 7])]

for result in results:
    print(result)

['a', 'b', 'c']
(1, 2, 4, 5)
{1, 3, 5, 7}

In [24]:
for index, value in enumerate(['a', 'b', 'c']):
    print(index, value)

0 a
1 b
2 c

In [27]:
list(filter(lambda x: x > 0, [-1, 4,-1,-4,0, 1, 2,7,8]))

[4, 1, 2, 7, 8]

In [32]:
print(sorted([2,4,1,8,4,2]))
print(abs(-7))
print(max(2,5,3,7,9,12,15))
print()
print(min(2,5,3,7,9,12,15))

[1, 2, 2, 4, 4, 8]
7
15

2

In [33]:
for index, value in enumerate(['a', 'b', 'c']):
    print(index, value)

0 a
1 b
2 c

In [34]:
#map()
list(map(lambda x: x * 2, [1, 2, 3,6,8]))

[2, 4, 6, 12, 16]

In [3]:
x=5
print(x)

5

In [7]:
'''
In this example, we have created three variables integer, 
string and float and we are printing all the variables
with print() function in Python

'''
name = "John"
age = 30

print("Name:", name)
print("Age:", age)

Name: John
Age: 30

In [9]:
'''
Python String Literals
String literals in Python’s print statement are primarily
used to format or design how a specific string appears 
when printed using the print() function.

\n: This string literal is used to add a new blank line 
while printing a statement.
“”: An empty quote (“”) is used to print an empty line.
'''
#This code uses \n to print the data to the new line.
print("GeeksforGeeks \n is best for DSA Content.")

GeeksforGeeks
 is best for DSA Content.

In [10]:
'''
Print Concatenated Strings
In this example, we are concatenating strings
inside print() function in Python.
'''
print('GeeksforGeeks is a Wonderful ' + 'Website.')

GeeksforGeeks is a Wonderful Website.

In [11]:
'''
Output formatting
In this example, we are formatting our output to make 
it look more attractive by using str.format() function.
'''
a,b,=10,1000
print('The value of a is {} and b is {}'.format(a,b))

The value of a is 10 and b is 1000

In [12]:
'''
Python Input
In this example, we are using print() and input() 
in Python to take user input and print it in the output
'''
n = input('Enter the Number: ')

print('Number Entered by User:',n)

print(type(n))

Number Entered by User: 3
<class 'str'>

In [6]:
'''
Print Concatenated Strings
In this example, we are concatenating
strings inside print() function in Python.

'''
print('GeeksforGeeks is a Wonderful ' + 'Website.')

GeeksforGeeks is a Wonderful Website.

In [5]:
'''
    Output formatting
In this example, we are formatting our output to make 
it look more attractive by using str.format() function

'''

a,b,=10,1000
print('The value of a is {} and b is {}'.format(a,b))

The value of a is 10 and b is 1000

In [2]:
def square_list(lis1):
    return [element * element for element in lis1]

my_list = [1,3,5,7]
squared_list = square_list(my_list)
print(squared_list)

[1, 9, 25, 49]